<footer>
<small>
    &copy; Jewish Persistence Pledge 2020
    <ul>
        <li>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://jewishpersistence.com">
                Share on Facebook
            </a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/home?status=https://jewishpersistence.com Check out the Jewish Persistence Pledge!">
                Share on Twitter
            </a>
        </li>
        <li>
            <a href="/admin" id="admin-link">
                Admin sign-in
            </a>
        </li>
    </ul>
</small>
</footer>
